# Streamlit and Core Libraries
streamlit
pandas
numpy
matplotlib
seaborn
plotly
scikit-learn
scipy
cython

# Machine Learning and Optimization
tensorflow
xgboost
prophet
arch
transformers
optuna

# Language Models (OpenAI + Hugging Face)
openai
transformers
torch
PyYAML
markdown-it-py
mdurl
rich
pygments

# Data Loading and Processing
yfinance
fpdf2

# Streamlit Upgrades
streamlit_autorefresh
streamlit-aggrid
streamlit-lottie

# Advanced Visualization and Plotting
shap
plotly
